.FooterDiv{
    min-width: 100%;
    max-height: 30%;
    min-height: auto;
    background-color: lightseagreen;
    clear: both;
    font-size: 20px;
    text-shadow: chartreuse;
    font-size: 30px;
    text-align: center;
    display: grid;
    position: absolute;
    bottom: 0;
    
    align-items: flex-end;
}
.footer_imgs_icon{
    margin:5px 0 1vw 1vw;
    min-width: 2vw;
    max-width: 2vw;
    min-height: 2vw;
    max-height: 2vw;
    border-radius: 50%;
  
    min-height: auto;
}
.FooterDiv p{
    background-color: rgba(23, 10, 199, 0);
    max-height: auto;
    
}
.each_icon_content{
    background-color: rgba(0, 0, 0, 0);
    text-align: end;
    padding-right: 3vw;
    font-size: 1vw;
    max-height: 10%;
    min-height: 10%;
    height: auto;
   

    


}
.each_icon_content a{
text-decoration: none;
}