.main{
    min-width: 100%;
    max-width: 100%;
    
    max-height: auto;
    
    background-color: teal;
    float: right;
    position: relative;
    display: grid;
    
}
.main_component_left_img{
    padding: 5% 2% 2% 3%;
    clear: both;
    min-width: 100%;
    width:auto;
    max-height: 100%;
    
    max-height: auto;
    min-height: auto;
    background-color:inherit;
}
.img_left_float{
    float: left;
    max-height: 100%;
    width:35%;
    height: 85%;
    max-height: 25vw;
    min-width: auto;
    background-color:inherit;
}
.text_right_side{
    float: right;
    max-height: auto;
    width:60%;
    min-width: auto;
    background-color:inherit;
}
.main_component_right_img{
    padding: 5% 4% 2% 3%;
    clear: both;
    min-width: 100%;
    width:auto;
    max-height: 100%;
    
    max-height: auto;
    min-height: auto;
    background-color:inherit;
    
}
.img_right_float{
    float: right;
    max-height: 100%;
    width:35%;
    height: 85%;
    max-height: 25vw;
    min-width: auto;
    background-color:inherit;
}
.text_left_side{
    float:left;
    max-height: auto;
    width:60%;
    min-width: auto;
    background-color:inherit;
    padding: 2% 1% 2% 1%;
}
.clear_both_div{
    max-width: 0%;
    max-height: 0%;
    clear: both;
    background-color:inherit;
}